@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import 'tailwindcss';

:root {
	--check-black: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="9"><path fill="black" d="m10.319.768 1.363 1.464-7.128 6.634L.319 4.924 1.682 3.46l2.871 2.674z"/></svg>');
	--check-white: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="9"><path fill="white" d="m10.319.768 1.363 1.464-7.128 6.634L.319 4.924 1.682 3.46l2.871 2.674z"/></svg>');
}

@layer base {
	header {
		@apply mx-12 py-8;
	}

	footer {
		@apply mx-12 py-32;
	}

	main {
		@apply space-y-32;
	}

	main > section {
		@apply mx-12;
	}

	h1,
	h2,
	h3 {
		@apply font-extrabold;
	}

	button {
		@apply cursor-pointer font-bold;
	}
}

@theme {
	--font-nunito: 'Nunito Sans', sans-serif;
	--color-base-100: oklch(0.1634 0.0424 272.16); /* dark navy */
	--color-base-200: oklch(0.3578 0.0884 247.53); /* light navy */
	--color-accent: oklch(0.8502 0.1336 192.55); /* light turquoise */
}
@layer theme {
	body {
		@apply font-nunito text-sm;
		@apply bg-base-100 text-white;
	}
}
